body{
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
}

footer{
    width: 100%;
}

nav{
    background: #004365;
    padding: 20px;
}

nav a{
    color: white;
    margin: 20px;
}

.important_link{
    background: #004365;
    padding: 20px;
    color: white;
}

.important_link a{
    color: white;
    margin: 20px;
}

.copyright{
    text-align: center;
    background: #002F46;
    padding: 10px;
    color: #4da0cd;
}

.copyright a{
    color: #4da0cd;
}

.layout_header{
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.layout_footer{
    max-width: 60vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.souscate{
    background: #002F46;
    padding: 10px;
}

.souscate a{
    color: #4da0cd;
    margin: 10px;
}

.social_media{
    background: white;
    text-align: center;
}