*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

h1{
    margin: 0 0 5vh;
}

body{
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
}

footer{
    width: 100%;
}

nav{
    background: #004365;
    padding: 0 20px 20px;
}

nav a{
    color: white;
    padding: 20px;
}

nav a:hover{
    background: #19709e;
}

.logo:hover{
    background: none;
}

.logh1{
    color: #ff4000;
}

.btn-jvc{
    background: #ff4000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-jvc:hover{
    box-shadow: black 2px 2px 5px;
}

.important_link{
    background: #004365;
    padding: 20px;
    color: white;
}

.copyright{
    text-align: center;
    background: #002F46;
    padding: 10px;
    color: #4da0cd;
}

.layout_header{
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.layout{
    max-width: 60vw;
    margin: 0 auto;
    padding: 10vh 5vw;
}

.layout_footer{
    max-width: 60vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.souscate{
    background: #002F46;
    padding: 10px;
}

.logform{
    margin: 7.5vh 0;
}

.social_media{
    background: white;
    text-align: center;
}

.reseaux a{
    margin: 10px;
}

.app a{
    margin: 10px;
}

.important_link a{
    color: white;
    margin: 20px;
}

.copyright a{
    color: #4da0cd;
}

.logform input{
    margin: 2vh 0;
    width: 100%;
    font-size: 20pt;
}

.souscate a{
    color: #4da0cd;
    margin: 10px;
}

.souscate a:hover{
    color: white;
}

.important_link a:hover{
    text-decoration: underline;
}