*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

h1{
    margin: 0 0 5vh;
}

body{
    margin: 0;
    background: #d4d4d4;
}

header{
    position: fixed;
    width: 100%;
}

footer{
    width: 100%;
}

nav{
    background: #004365;
    padding: 0 20px 20px;
}

thead{
    background: #d4d4d4;
}

tbody{
    background: #f2f2f2;
}

th{
    border: black solid 1px;
}
td{
    border: black solid 1px;
}

nav a{
    color: white;
    padding: 20px;
}

nav a:hover{
    background: #19709e;
}

.PC{
    background: darkslategrey;
    color: white;
}

.PS4, .PS5{
    background: blue;
    color: white;
}

.One, .XboxSeries{
    background: green;
    color: white;
}

.Switch{
    background: red;
    color: white;
}

.block-articles{
    border: rgba(0, 0, 0, 0.25) solid 2px;
    margin: 20px;
}

.categorie{
    display: flex;
    justify-content: space-between;
}

.cat{
    display: flex;
}

.liste{
    font-size: 15pt;
}

.logo:hover{
    background: none;
}

.logh1{
    color: #ff4000;
}

.btn-jvc{
    background: #ff4000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-jvc:hover{
    box-shadow: black 2px 2px 5px;
}

.important_link{
    background: #004365;
    padding: 20px;
    color: white;
}

.copyright{
    text-align: center;
    background: #002F46;
    padding: 10px;
    color: #4da0cd;
}

.layout_header{
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.layout{
    max-width: 60vw;
    margin: 0 auto;
    padding: 15vh 5vw;
    background: white;
}

.layout_footer{
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.souscate{
    background: #002F46;
    padding: 10px;
}

.logform{
    margin: 7.5vh 0;
}

.formNouveau{
    width: 100%;
    font-size: 20pt;
}

.formNouveauText{
    width: 100%;
    height: 50vh;
}

.social_media{
    background: #f2f2f2;
    text-align: center;
}

.reseaux a{
    margin: 10px;
}

.app a{
    margin: 10px;
}

.important_link a{
    color: white;
    margin: 20px;
}

.copyright a{
    color: #4da0cd;
}

.logform input{
    margin: 2vh 0;
    width: 100%;
    font-size: 20pt;
}

.souscate a{
    color: #4da0cd;
    margin: 10px;
}

.souscate a:hover{
    color: white;
}

.important_link a:hover{
    text-decoration: underline;
}