{% extends 'base.html.twig' %}

{% block title %}JEUXVIDEO.COM - Le média de référence des gamers : Jeux vidéo sur PC et Consoles{% endblock %}

{% block body %}

    {% for article in articles %}
        <a href='#'><img src="{{ asset('/images/' ~ article.featuredImage) }}"><br>{{ article.titre }}</a>
    {% endfor %}

    {% for listeArticle in listeArticles %}
        <a href='#'>{{ listeArticle.titre }}</a>
    {% endfor %}

{% endblock %}


