{% extends 'base.html.twig' %}

{% block title %}JEUXVIDEO.COM - Le média de référence des gamers : Jeux vidéo sur PC et Consoles{% endblock %}

{% block body %}

    {% for article in articles %}
        <a href='#'><img src="{{ article['image'] }}"><br>{{ article['titre'] }}</a>
    {% endfor %}
    
    {% for liste in listes %}
        <li><a href='#'>{{ liste }}</a></li>
    {% endfor %}

{% endblock %}


