{% extends 'base.html.twig' %}

{% block title %}Edit Articles{% endblock %}

{% block body %}
    <h1>Edit Articles</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    
    {{ include('articles/_delete_form.html.twig') }}
<br>
<a href="{{ path('actu_index') }}">Retour à la liste</a>

{% endblock %}
