<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu{% endblock %}</title>
        <link rel="stylesheet" link="css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="layout_header">
                    <div class="navigation"><a href="#">Logo</a><a href="#">Jeux</a><a href="#">Actu</a><a href="#">TV</a><a href="#">Vidéos</a><a href="#">Forums</a><a href="#">Store</a></div>
                    <div class="connexion"><a href="#">icone recherche</a><a href="#">Mon Compte</a><div>
                </div>
            </nav>
            <div class="souscate">
                <div class="layout_header">
                    <div class="support"><a href="#">PC</a><a href="#">PS5</a><a href="#">Xbox Series</a><a href="#">PS4</a><a href="#">One</a><a href="#">Switch</a><a href="#">Wii U</a><a href="#">PS3</a><a href="#">Xbox 360</a><a href="#">3DS</a><a href="#">PS Vita</a><a href="#">iOS</a><a href="#">Android</a></div>
                    <div class="promo"><a href="#">Promo Playstation Plus</a></div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}

        <footer>
            <div class="social_media">
                <div class="layout"></div>
            </div>
            <div class="important_link">
                <div class="layout"></div>
            </div>
            <div class="copyright">
                <div class="layout"></div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
