<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="layout_header">
                    <div class="navigation"><a href="#">Logo</a><a href="#">Jeux</a><a href="#">Actu</a><a href="#">TV</a><a href="#">Vidéos</a><a href="#">Forums</a><a href="#">Store</a></div>
                    <div class="connexion"><a href="#">icone recherche</a><a href="#">Mon Compte</a><div>
                </div>
            </nav>
            <div class="souscate">
                <div class="layout_header">
                    <div class="support"><a href="#">PC</a><a href="#">PS5</a><a href="#">Xbox Series</a><a href="#">PS4</a><a href="#">One</a><a href="#">Switch</a><a href="#">Wii U</a><a href="#">PS3</a><a href="#">Xbox 360</a><a href="#">3DS</a><a href="#">PS Vita</a><a href="#">iOS</a><a href="#">Android</a></div>
                    <div class="promo"><a href="#">Promo Playstation Plus</a></div>
                </div>
            </div>
        </header>
        <br><br><br><br><br><br><br><br>

        {% block body %}{% endblock %}

        <footer>
            <div class="social_media">
                <div class="layout_footer">
                    <div class="reseaux"><h1>Nous Suivre</h1>
                        <a href="#">icone facebook</a><a href="#">icone twitter</a><a href="#">icone insta</a><a href="#">icone youtube</a><a href="#">icone rss</a>
                    </div>
                    <div class="app"><h1>Télécharger l'app</h1>
                        <a href="#">icone google play</a><a href="#">icone app store</a><a href="#">icone win 10</a>
                    </div>
                </div>
            </div>
            <div class="important_link">
                <div class="layout_footer">
                    <div class="mise_avant"><h1>à ne pas manquer</h1>
                        <a href="#">img pub<br> Titre<a><a href="#">img article<br> Titre<a>
                    </div>
                    <div class="liens_utiles">
                        <a href="#">logo</a><br>
                        <a href="#">Contact</a><br>
                        <a href="#">L'équipe</a><br>
                        <a href="#">Informations légales</a><br>
                        <a href="#">C.G.U.</a><br>
                        <a href="#">Modération</a><br>
                        <a href="#">Politique de confidentialité</a><br>
                        <a href="#">Cookies</a><br>
                        <a href="#">Gérer les Cookies</a><br>
                        <a href="#">Nawsletter</a><br>
                        <a href="#">RSS</a><br>
                        <a href="#">Jobs</a><br>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>logo Webedia jeuxvideo.com est édité par <a href="#">Webedia</a>. Copyright @ 1997-2020 Webedia. Tous droits réservés.
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
