<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu{% endblock %}</title>
        <link rel="stylesheet" link="css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="layout"></div>
            </nav>
            <div class="souscate">
                <div class="layout"></div>
            </div>
        </header>
        {% block body %}{% endblock %}

        <footer>
            <div class="social_media">
                <div class="layout"></div>
            </div>
            <div class="important_link">
                <div class="layout"></div>
            </div>
            <div class="copyright">
                <div class="layout"></div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
